img {
    max-width: 100%; 
    height: auto;    
}

.container {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 30px;
}

.bio {
    display: flex;
    flex-direction: row;
}

.bio-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.headshot {
    width: auto;
    height: 300px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Blinking cursor effect */
.auto-type::after {
    content: '|';
    animation: blink 0.8s infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }

  body {
    background-color: #0F0A0A;
    color: #F5EFED;
  }

  a {
    color: #2292A4;
  }